* {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* header */
.header-wrap {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  position: relative;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 50px 0 100px;
}
.logo-wrap a {
  text-decoration: none;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}
.memebr {
  margin: 0 50px;
}
.logo-message {
  font-family: "Nanum Pen Script", cursive;
  font-size: 60px;
  color: #777;
}

.nav-wrap {
  display: flex;
  margin: 0 100px;
}
nav a {
  margin: 0 60px 0 0;
  text-decoration: none;
  color: rgb(140, 136, 136);
  font-weight: 500;
}
nav a:hover {
  color: #333;
}

.member img,
.chat img {
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
.infobar {
  color: #ff7b1a;
  font-size: 14px;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.1),
    1px 1px 2px rgba(60, 60, 60, 0.1);
}

/* main */
main {
  min-height: 500px;
}
.main-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 0;
}

#carouselExampleControls {
  width: 40%;
}
.detail-img {
  width: 100%;
}
/* .photo-info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
} */

/* .photo-wrap, */
.info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 30%;
  margin: 0 30px;
}

/* .photo img {
  max-width: 500px;
  margin: 20px 10px;
  max-height: 800px;
} */
.match-button {
  margin: 50px 0 0 0;
}
.chat-button a {
  text-decoration: none;
  /* background-color: #f0f0f0; */
  border: #777 1px solid;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.match-button a {
  text-decoration: none;
  background-color: #777;
  color: #f0f0f0;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.info {
  color: #333;
  margin: 10px 0;
}

.info span {
  font-weight: 500;
  color: #777;
}

.finderinfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.finderinfo img {
  width: 35px;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.finder-name span {
  font-weight: 500;
  color: #777;
}
.check-desc {
  margin: 20px 10px;
  font-size: 14px;
  color: #777;
}

.carousel-item {
  max-height: 600px;
  object-fit: cover;
}
.detail-img {
  max-height: 600px;
  object-fit: cover;
}

/* footer */

footer {
  width: 100%;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0;
}

.recommend-wrap,
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend-link a {
  text-decoration: none;
  color: #f0f0f0;
  margin: 0 10px;
}

.recommend,
.contact {
  margin: 10px 0;
  color: #ccc;
}

.recommend-link,
.contact-link {
  color: #ccc;
}
.recommend-link a:hover {
  color: white;
}

.contact-link img {
  width: 40px;
  margin: 0 10px;
}
