* {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
/* header */
.header-wrap {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  position: relative;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 50px 0 100px;
}
.logo-wrap a {
  text-decoration: none;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}
.memebr {
  margin: 0 50px;
}
.logo-message {
  font-family: "Nanum Pen Script", cursive;
  font-size: 60px;
  color: #777;
}

.nav-wrap {
  display: flex;
  margin: 0 100px;
}
nav a {
  margin: 0 60px 0 0;
  text-decoration: none;
  color: rgb(140, 136, 136);
  font-weight: 500;
}
nav a:hover {
  color: #333;
}

.member img,
.chat img {
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
.infobar {
  color: #ff7b1a;
  font-size: 14px;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.1),
    1px 1px 2px rgba(60, 60, 60, 0.1);
}

/* main */
main {
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-form {
  background-color: rgb(249, 249, 249);
  width: 80%;
  border-radius: 10px;
  margin: 50px 0 100px 0;
}
.post-title {
  width: 100%;
  color: #444;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 0 0;
}
/* .post-title span {
    color: #ff7b1a;
  } */

/* form */
.uploadform {
  display: flex;
  justify-content: space-evenly;
  color: #333;
  padding: 30px;
}

form label {
  display: flex;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

form select,
input {
  border-radius: 5%;
  padding: 5px;
  color: #333;
  border-color: rgb(206, 212, 218);
  background-color: #fff;
}
form label span {
  display: block;
  color: firebrick;
  margin: 5px;
}

.form-wrap-left {
  margin: 13px 0;
}

.note-message {
  height: 100px;
  width: 400px;
  border-radius: 5px;
  border: #f0f0f0 1px solid;
}
.photo-wrap {
  margin: 20px 0;
}

.photo-wrap label {
  margin: 20px 0;
}
.photo-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.photo-preview p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.photo-preview img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin: 10px 5px 0 0;
}

.photo-reminder {
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0;
}
.photo-reminder img {
  width: 50px;
  margin: 0 20px 0 10px;
}
.photo-reminder-text {
  margin: 0 10px;
}
.photo-reminder-text p {
  margin: 10px 0;
}

.uploadBtn {
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #333;
}
.uploadBtn:hover {
  background-color: #333;
  color: #f0f0f0;
}

/* footer */

footer {
  width: 100%;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0;
}

.recommend-wrap,
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend-link a {
  text-decoration: none;
  color: #f0f0f0;
  margin: 0 10px;
}

.recommend,
.contact {
  margin: 10px 0;
  color: #ccc;
}

.recommend-link,
.contact-link {
  color: #ccc;
}
.recommend-link a:hover {
  color: white;
}

.contact-link img {
  width: 40px;
  margin: 0 10px;
}
