* {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* header */
.header-wrap {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  position: relative;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 50px 0 100px;
}
.logo-wrap a {
  text-decoration: none;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}
.memebr {
  margin: 0 50px;
}
.logo-message {
  font-family: "Nanum Pen Script", cursive;
  font-size: 60px;
  color: #777;
}

.nav-wrap {
  display: flex;
  margin: 0 100px;
}
nav a {
  margin: 0 60px 0 0;
  text-decoration: none;
  color: rgb(140, 136, 136);
  font-weight: 500;
}
nav a:hover {
  color: #333;
}

.member img,
.chat img {
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
.infobar {
  color: #ff7b1a;
  font-size: 14px;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.1),
    1px 1px 2px rgba(60, 60, 60, 0.1);
}

/* main */
main {
  width: 100%;
}
.desc-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc-img-title {
  margin: 50px 0 10px 0;
  font-size: 26px;
}
.desc-img img {
  margin-top: 30px;
  width: 600px;
  height: 300px;
}

.photo {
  max-height: 400px;
  object-fit: cover;
  /* margin: 20px 0; */
}
.success-title {
  padding: 50px 0 0 0;
  margin: auto;
  text-align: center;
  width: 75%;
  font-size: 26px;
  border-bottom: 1px solid #ccc;
}
.successful-cases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0;
}
.case {
  margin: 20px;
}
.case img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.finder-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 10px 0 0;
}
.finder {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.finder img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}
.thankyou-message {
  width: 300px;
  height: 100px;
  margin: 0 10px;
  overflow: auto;
}
.thank-title {
  color: #777;
  font-weight: 500;
  margin: 10px 0;
}
.cta {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.findBtn a:hover {
  background-color: #333;
}
.findBtn a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #777;
  color: #fff;
}
/* footer */

footer {
  width: 100%;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0;
}

.recommend-wrap,
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend-link a {
  text-decoration: none;
  color: #f0f0f0;
  margin: 0 10px;
}

.recommend,
.contact {
  margin: 10px 0;
  color: #ccc;
}

.recommend-link,
.contact-link {
  color: #ccc;
}
.recommend-link a:hover {
  color: white;
}

.contact-link img {
  width: 40px;
  margin: 0 10px;
}

/* over flow*/
.thankyou-message {
  overflow: hidden;
}

.thankyou-message:hover {
  overflow-y: scroll;
}

.thankyou-message::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

.thankyou-message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #ccc;
}

.thankyou-message::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
  border-radius: 10px;
  background-color: white;
}
