* {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* header */
.header-wrap {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  position: relative;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 50px 0 100px;
}
.logo-wrap a {
  text-decoration: none;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}
.memebr {
  margin: 0 50px;
}
.logo-message {
  font-family: "Nanum Pen Script", cursive;
  font-size: 60px;
  color: #777;
}

.nav-wrap {
  display: flex;
  margin: 0 100px;
}
nav a {
  margin: 0 60px 0 0;
  text-decoration: none;
  color: rgb(140, 136, 136);
  font-weight: 500;
}
nav a:hover {
  color: #333;
}

.member img,
.chat img {
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
.infobar {
  color: #ff7b1a;
  font-size: 14px;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.1),
    1px 1px 2px rgba(60, 60, 60, 0.1);
}

/* main */
main {
  width: 100%;
}

/* profile */
.userPic {
  width: 80px;
}
.welcome-message {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-message p {
  font-size: 20px;
  padding: 10px 0;
}

.logout {
  width: 55px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px 10px;
  margin: auto;
}
.logout:hover {
  color: #fff;
  background-color: #aaa;
  cursor: pointer;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.notification-wrap,
.history-post,
.confirm-post-wrap {
  margin: 30px 0;
  width: 60%;
}

.notificatoin-title,
.history-post-title,
.confirm-post-title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 16px;
}
.notifications,
.posts,
.confrim-posts {
  width: 90%;
}

/* notification */
.notifications {
  height: 300px;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
}

.notification {
  margin: 10px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 20px 50px;
  background-color: #f7f7f7;
  width: 795px;
}

.sub-title {
  margin: 0 10px;
  color: #777;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
}
.noti-text-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 50px; */
}
.noti-text-time p {
  margin-bottom: 0;
}

.notification a {
  text-decoration: none;
}
.notification p {
  color: #777;
}
.highlight {
  color: firebrick;
}
.link {
  font-weight: 500;
  text-decoration: underline;
}
.noti-icon,
.cancel {
  width: 24px;
  height: 24px;
}
.noti-icon {
  margin: 0 10px;
}
.cancel {
  cursor: pointer;
}

/* posts */
.history-post-title,
.confirm-post-title,
.notificatoin-title {
  display: flex;
}
.history-post-title img,
.confirm-post-title img,
.notificatoin-title img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.posts,
.confirm-posts {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 500px;
  width: 800px;
  margin-left: 30px;
  /* overflow: auto; */
}

.post,
.confirm-post {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.post img {
  /* width: 200px;
  max-height: 150px; */
  margin: 20px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.post-title {
  color: #333;
}
.post-content {
  margin: 20px;
  width: 250px;
  color: #777;
}
.post-content span {
  margin: 0 10px 0 0;
}
.user {
  display: flex;
}

.edit {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #999;
  color: #fff;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 10px;
}
.edit:hover {
  color: #fff;
  background-color: #333;
}
.delete img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* confirm-post */
.nopost {
  margin: 20px;
}
.confirm-post {
  max-height: 190px;
}
.confirm-post a img {
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  border-radius: 10px;
}

.confirm-post-content {
  width: 250px;
  max-height: 150px;
  margin: 10px 20px 10px 10px;
  /* overflow: auto; */
}
.confirm-post label {
  margin: 0 5px 0 0;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user img {
  width: 35px;
  height: 35px;
  margin: 0 10px 5px 0;
}

.thankyou-message {
  width: 245px;
  word-wrap: break-word;
}

.save {
  padding: 10px 15px;
  background-color: #999;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.save:hover {
  color: #fff;
  background-color: #333;
}

/* footer */

footer {
  width: 100%;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0;
}

.recommend-wrap,
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend-link a {
  text-decoration: none;
  color: #f0f0f0;
  margin: 0 10px;
}

.recommend,
.contact {
  margin: 10px 0;
  color: #ccc;
}

.recommend-link,
.contact-link {
  color: #ccc;
}
.recommend-link a:hover {
  color: white;
}

.contact-link img {
  width: 40px;
  margin: 0 10px;
}

/*overflow */
.notifications,
.posts,
.confirm-posts,
.confirm-post-content {
  overflow: hidden;
}

.notifications:hover,
.posts:hover,
.confirm-posts:hover,
.confirm-post-content:hover {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.notifications::-webkit-scrollbar,
.posts::-webkit-scrollbar,
.confirm-posts::-webkit-scrollbar,
.confirm-post-content::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

.notifications::-webkit-scrollbar-thumb,
.posts::-webkit-scrollbar-thumb,
.confirm-posts::-webkit-scrollbar-thumb,
.confirm-post-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #ccc;
}

.notifications::-webkit-scrollbar-track,
.posts::-webkit-scrollbar-track,
.confirm-posts::-webkit-scrollbar-track,
.confirm-post-content::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%); */
  border-radius: 10px;
  background-color: white;
}
